@model Brandviser.Web.Models.SearchViewModel

@Html.Partial("_SearchBox", Model)

<div class="row main-header">
    <h1 class="text-center">BUSINESS NAMES FROM BRANDVISER</h1>
    <h3 class="text-center">Explore our quality, hand-picked, unique and brandable business names <br />available for sale with a premium domain name for your business venture.</h3>
</div>

<div class="row featured">
    <h3 class="text-center">LATEST NAMES</h3>
</div>
<div class="row domains-front">
    @foreach (var domain in Model.Domains)
    {
        @Html.Partial("_DomainBox", domain);
    }
</div>

