body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #F3F3F3;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-navbar {
    /*cheren*/

    /*background: #4c4c4c;
    background: -moz-linear-gradient(left, #4c4c4c 0%, #595959 9%, #666666 17%, #474747 26%, #2c2c2c 34%, #000000 42%, #000000 42%, #000000 46%, #000000 48%, #000000 58%, #000000 66%, #2b2b2b 72%, #1c1c1c 96%, #131313 100%);
    background: -webkit-linear-gradient(left, #4c4c4c 0%,#595959 9%,#666666 17%,#474747 26%,#2c2c2c 34%,#000000 42%,#000000 42%,#000000 46%,#000000 48%,#000000 58%,#000000 66%,#2b2b2b 72%,#1c1c1c 96%,#131313 100%);
    background: linear-gradient(to right, #4c4c4c 0%,#595959 9%,#666666 17%,#474747 26%,#2c2c2c 34%,#000000 42%,#000000 42%,#000000 46%,#000000 48%,#000000 58%,#000000 66%,#2b2b2b 72%,#1c1c1c 96%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );*/

    background: #485563; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    


}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: gray;
    }

.main-logo {
    width: 150px;
    height: 23px;
    margin-top: 7px;
}

.seller-navbar {
    border-radius: 3px;
    width: initial;
    background: white;
    box-shadow: 0px 2px 2px #888888;
}

.seller-nav-link-green {
    background: #A2D90C;
    color: white;
}

    .seller-nav-link-green:hover {
        background: #7cd90b!important;
        color: white;
    }

.seller-nav-link-orange {
    background: #FFA500;
    color: white;
}

    .seller-nav-link-orange:hover {
        background: #ff8300!important;
        color: white;
    }

.seller-nav-link {
    display: block;
    background: #E8E8E8;
    color: black;
}

    .seller-nav-link:hover {
        color: gray;
    }


.seller-content {
    display: block;
}


@media only screen and (min-width : 768px) {
    .pull-right-md {
        float: right;
    }
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

.seller-profile-stats {
    background: #454545;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 2px 2px #888888;
}

.profile-namelogo {
    margin-top: 10px;
    background: #7CA9CC;
    color: white;
    border-radius: 100px;
    text-align: center;
    font-size: 22px;
    height: 100px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 200;
    font-stretch: normal;
    font-size: 22px;
    line-height: 100px;
}

.seller-block-small-text {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.profile-value-block {
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #232323;
    background: #d6d6d6;
}

.profile-value-block-money {
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #232323;
    background: #d6d6d6;
}

.profile-stats-row {
    margin-top: 20px;
}

.profile-h3 {
    margin: 0;
}

.last-profile-row{
    padding-bottom:20px;
}

#seller-partial{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 2px 2px #888888;
    padding: 10px;
    margin-top: 10px;
}

.field-validation-error {
    color: red;
}

.domains-alert {
    margin-top: 5px;
}

td {
  word-wrap:break-word;
  word-break:break-all;
}